<div class="aula">
  
  <h2><%= @aula.titulo %></h2>
  <div class="resumo"><%= @aula.resumo %></div>
  <div class="conteudo"><%= @aula.conteudo %></div>

  <div id="comentarios">
    <h3>Comentários</h3>
  </div>
</div>

<div class="complementos">
  <div class="video">
    <h3>Vídeo Aula</h3>
    <%= render_video @video, 284, 208 %>
  </div>

  <div class="extras">
    <h3>Extras</h3>
    <ul>
      <li class="outrosvideos"><a href="">Outros vídeos</a></li>
      <li class="baixar"><a href="">Baixar Aula</a></li>
      <li class="exercicio"><a href="">Exercícios</a></li>
      <li class="ballon"><a href="">Comentários</a></li>
    </ul>
  </div>

  <div class="relacionados">
    <h3>Matérias Relacionadas</h3>
    <% @aulas_relacionadas.each do |aula| %>
    <dl>
      <dt><a href=""><%= aula.titulo  %> </a></dt>
      <dd><%= string_hint aula.resumo, 150 %></dd>
    </dl>
    <% end %>

  </div>

</div>