
<%= render :partial => "layouts/menu_principal" %>

<div class="principal">

  <h2>Notícias</h2>

    <% @noticias.each do |noticia|  %>
    <div class="noticia">
      <span class="data"><%= noticia.created_at.to_s_br  %> </span>
      <h3><%= link_to noticia.titulo, "/noticias/#{noticia.id}" %></h3>
      <p><%= string_hint(noticia.resumo, 200) %></p>
    </div>
    <% end %>


    <div id="paginacao">
      <%= will_paginate @noticias %>
      <div class="clear"></div>
    </div>

</div>