<div id="menu">

  <ul class="mprincipal">
    <li><%= link_to "Página inicial", :controller => :home, :action => :index %></li>
    <li><%= link_to "Sobre a empresa", :controller => :empresa, :action => :sobre %></li>
    <li><%= link_to "Notícias",  :controller => :noticias, :action => :index %></li>
    <li><%= link_to "Como funciona?",  :controller => :empresa, :action => :como_funciona %></li>
    <li><%= link_to "Perguntas frequentes",  :controller => :empresa, :action => :faq %></li>
    <li><%= link_to "Formas de Pagamento",  :controller => :empresa, :action => :formas_pagamento %></li>
    <li><%= link_to "Política de privacidade",  :controller => :empresa, :action => :politica_privacidade %></li>
    <li><%= link_to "Central de atendimento",  :controller => :empresa, :action => :central_atendimento %></li>
  </ul>

  <ul class="maux">
    <li class="m1"><%= link_to "Educação infantil", "/site/aulas" %></li>
    <li class="m2"><%= link_to "Ensino médio", "/site/aulas" %></li>
    <li class="m3"><%= link_to "Vestibular", "/site/aulas" %></li>
    <li class="m4"><%= link_to "Enem", "/site/aulas" %></li>
  </ul>

</div>