<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <base href="http://www.portalnota10.com.br/site/" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Portal Nota 10</title>

    <%= javascript_include_tag :defaults %>
    <style type="text/css">@import url(/stylesheets/layout.css);</style>
    <%= stylesheets %>
<body>

  <div id="bg">
      <div id="site">
          <div id="topo">
            <div id="boxlogin">
                <p style="color: red"><%= flash[:alert] %></p>
                <%= render :partial => "users/user_bar"  %>
            </div>

            <div id="busca">
              <% form_tag  "/aulas/", :method => :get do |f| %>
                <input type="text" id="fbusca" name="s" value=""/>
                <input type="image" src="/images/btnbuscar.png" width="35" height="34" id="btnbuscar"/>
              <% end %>

            </div>
          </div>
          <div id="content" class="content"><div class="wrap">
              <%= yield %>

              <div class="clear"></div>
          </div></div>

      </div>

      <div id="rodape"><div class="wrap">
          <h3>Portal Nota 10</h3>
          Copyright ©. Portal Nota 10. Todos os Direitos Reservados.<br/>
          <%= link_to "Termos de uso", "/termo_uso" %> - <%= link_to "Quem somos", "/quem-somos" %>
      </div></div>
  </div>
</body>
</html>